.form-control {
  max-width: fit-content;
}

.input-group {
  flex-direction: column;
}

.input-row-group {
  display: flex;
  flex-direction: row;
}

.input-row-group span:first-child {
  min-width: 35%;
}
.input-row-group span:last-child {
  width: 15%;
  text-align: left;
  padding-left: 10px;
}
.input-row-group input {
  padding-right: 6px;
  max-width: 50%;
  text-align: end;
}

input[disabled] {
  color: rgb(87, 188, 94);
}

.navbar {
  justify-content: space-between;
}

.calc-title {
  border-radius: var(--rounded-btn, 0.5rem);
  padding-left: 1rem;
  padding-right: 1rem;
  min-height: 3rem;
  font-weight: 600;
  border-width: 1px;
  line-height: 1.75rem;
  border-color: hsl(var(--nf, var(--n)) / var(--tw-border-opacity));
  --tw-border-opacity: 0;
  background-color: hsl(var(--bc) / var(--tw-bg-opacity));
  --tw-bg-opacity: 0.2;
}

.badge input {
  margin-left: 0.3rem;
}